@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
    margin: 0;
}
body {
    background-color: #111;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    height: 755px;
    background-image: linear-gradient(to bottom, transparent, #111), url("/assets/crowds/amir-toossi-w9WO8txR7Uk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo h1 {
    width: 190px;
    height: 50px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Rock Salt', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 35px;
}

.top-menu {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.hamburger-menu i {
    font-size: 30px;
    color: white;
}

.ticket-banner {
    width: 360px;
    height: 160px;
    background-color: rgba(182, 11, 0, 0.5);
    border: 3px solid #FF0F00;
    border-radius: 20px;
    margin: 60px auto;
}


.ticket-banner-font-style {
    width: 335px;
    font-family: 'Bangers', sans-serif;
    color: #FFE500;
    font-weight: 400;
    -webkit-text-stroke: 1px black;
    text-align: center;
}

.limited-time {
    height: 30px;
    font-size: 30px;
    margin: 11px 13px 0px;
}

.tickets-available {
    height: 24px;
    font-size: 25px;
    margin: 2px 13px;
}

.only {
    height: 28px;
    font-size: 33px;
    margin: 0 auto;
}

.buy-now-button {
    background-color: inherit;
    width: 335px;
    height: 42px;
    font-family: 'Bangers', sans-serif;
    border: none;
    color: #00FFD1;
    font-weight: 400;
    -webkit-text-stroke: 1px black;
    font-size: 38px;
    text-align: center;
    margin: 20px auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buy-now-button:hover {
    color: blue;
}

.elektrik-eel {
    width: 360px;
    height: 170px;
    font-family: 'Bangers', sans-serif;
    color: #00FFD1;
    -webkit-text-stroke: 1px black;
    font-size: 82px;
    font-weight: 400;
    text-align: center;
    margin: 90px auto 65px;
}

.tag-line {
    width: 360px;
    height: 80px;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.shows {
    width: 100%;
    height: 750px;
    margin-bottom: 80px;
}

.page-title {
    width: 120px;
    height: 40px;
    color: #00FFD1;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
    font-size: 65px;
    font-family: 'Bangers', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 18px 0 20px 30px;
}
 
.title-underline {
    width: 240px;
    height: 5px;
    background-color: #FF0000;
    border-radius: 20px;
}

.show-locations {
    width: 100%;
    height: 610px;
}

.show-image-text-container, .artist-image-text-container {
    width: 205px;
    height: 220px;
    position: relative;
}

.show-image-text-container {
    margin: 53px auto;
}

.shows-img {
    width: 160px;
    height: 145px;
    object-fit: cover;
    border-radius: 20px;
    margin: 30px 35px 18px 35px;
}

.overlay-text {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #FF7A00;
    text-align: center;
    z-index: 2; /* Ensures text is always on top */
}

.city {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Bangers', sans-serif;
}

.shows-text {
    width: 200px;
    height: 75px;
    color: #FFE500;
    font-family: 'Lora', serif;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    margin: 0 20px;
    padding-top: 10px; /* Allow some padding between the bottom of the overlay-text and the top of this text */
}

.artists-page {
    width: 100%;
    height: 720px;
}

.artist-image-text-container {
    margin: 20px auto;
}

.artist-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    margin: 40px 35px 18px 35px;
}

.artist {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lora', serif;
    margin-right: 55px;
}

.artist-first-name {
    margin-right: 20px;
}

.artist-last-name {
    text-align: right;
    margin-left: 45px;
}

.surgeon-text {
    margin-top: 30px;
    margin-left: 40px;
}

.genres-page {
    width: 100%;
    height: 480px;
}

.genre-column {
    width: 50%;
    float: left;
}

.dot-point {
    color: white;
    font-family: 'Lora', serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}

.dot-point:hover {
    color: #00FFD1;
}

.tickets {
    width: 100%;
    height: 680px;
}

.limited-time-tickets {
    height: 30px;
    font-size: 34px;
    margin: 18px auto;
}

.tickets-available-tickets {
    height: 25px;
    font-size: 29px;
    margin: 0 auto;
}

.only-tickets {
    height: 30px;
    font-size: 40px;
    margin: 18px auto;
}

.at-the-door-text {
    width: 200px;
    height: 75px;
    color: white;
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 80px auto;
}

.buy-tickets-button {
    display: block;
    width: 320px;
    height: 85px;
    background-color: rgba(190, 82, 4, 40%);
    border: 4px solid #FF6B00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0 auto;
}

.buy-tickets-text {
    width: 300px;
    height: 70px;
    color: white;
    font-size: 52px;
    font-weight: 400;
    font-family: 'Bangers', sans-serif;
    -webkit-text-stroke: 1px black;
    text-align: center;
    justify-content: center;
    margin: 12px auto;
}

.buy-tickets-text:hover, .merch-button-text:hover {
    color: #00FFD1;
}

.merch-page {
    width: 100%;
    height: 440px;
}

.merch-text {
    width: 365px;
    height: 60px;
    color: white;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 55px auto;
}

.merch-button {
    display: block;
    width: 270px;
    height: 75px;
    background-color: rgba(0, 150, 123, 42%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 3px solid #00FFD1;
    margin: 0 auto;
}

.merch-button-text {
    width: 240px;
    height: 70px;
    color: white;
    font-size: 48px;
    font-family: 'Bangers', sans-serif;
    font-weight: 400;
    text-align: center;
    -webkit-text-stroke: 1px black;
    margin: 10px auto;
}

footer {
    height: 195px;
    background-image: linear-gradient(to top, transparent, #111), url("/assets/crowds/pim-myten-m41k1lTzjVM-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-logo {
    width: 190px;
    height: 50px;
    color: #FFFFFF;
    font-family: 'Rock Salt', cursive, sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-left: 5px;
}

.footer-links {
    display: block;
    width: 190px;
    height: 40px;
    background-color: inherit;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Lora', serif;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.links {
    cursor: pointer;
}

.social-media-icons i {
    color: white;
    margin: 10px 18px;
}


.fa-square-facebook, .fa-instagram, .fa-youtube {
    font-size: 40px;
}

.fa-tiktok, .fa-spotify {
    font-size: 30px;
    margin-top: 15px;
}